<!-- 插值语法 js表达式 -->

<!-- <app-a-hello></app-a-hello> -->
<!-- <app-form-table></app-form-table> -->
<!-- <app-home></app-home> -->
<app-menu>
    <!-- <div>What is {{title}}</div>

    <a [routerLink]="['/home/zzzzz']">Home</a>

    <a [routerLink]="['/hello']">Hello</a>
    组件渲染输出
 <hr>  -->



</app-menu>
<div>
    <a [routerLink]="['/echarts']">Echarts </a> &nbsp;
    <a [routerLink]="['/drag']"> Drag </a> &nbsp;
    <a [routerLink]="['/spotEcharts']"> spot Echarts </a>
    <hr>
    <router-outlet></router-outlet>
</div>